$font-back: black;

:root {
    --bg-color: #ffff;
    --font-name: "Mulish", sans-serif;
}

@import 'partial.css';

@mixin ft-every($fontface, $htline, $txtcolor, $ftwt, $casetf) {
    font-family: $fontface;
    line-height: $htline;
    color: $txtcolor;
    font-weight: $ftwt;
    text-transform: $casetf;
}




.cart_info {
    width: auto;
    p.chead {
        font-family: "Mulish", serif;
        margin-left: 120px;
    }

    h1 {
        font-family: "Raleway", serif;
        margin-left: 120px;
    }

    .main_cart_info {

        display: grid;
        grid-template-columns: 750px 400px;
        gap: 15px;
        margin-left: 50px;

    }

    .cart_products {
        padding: 20px 20px;
        border-radius: 10px;
        border-color: #0000001A;
        border-style: groove;
        border-width: 1px;
        margin-top: 30px;
        margin-left: 3rem;
        font-family: "Mulish", serif;
        height: fit-content;


        i.fa-solid {
            padding-left: 420px;
            color: red;
        }

        img {
            height: 124px;
            width: 120px;
            border-radius: 10px;
        }

        figure {
            display: grid;
            grid-template-columns: 130px 200px;
            width: 700px;
        }

        figcaption {
            padding-top: 10px;
            font-size: 13px;
            line-height: 12px;

            p.pname {
                font-weight: bold;
                font-size: 15px;
            }

            p.price {
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    .order_summary {
        height: fit-content;
        padding: 20px 20px;
        margin-top: 30px;
        border-radius: 10px;
        border-color: #0000001A;
        border-style: groove;
        border-width: 1px;
        width: 400px;
        align-items: stretch;

        p.order_head {
            font-weight: bold;
            font-family: "Mulish", serif;
            font-size: 20px;


        }

        p.subtotal {
            font-size: 18px;
            font-family: "Mulish", serif;
            color: #00000099;
        }

        p.total {

            padding-top: 20px;
            font-size: 20px;
            font-family: "Mulish", serif;

            em.total {
                font-style: normal;
                font-weight: bold;
                margin-left: 140px;
            }
        }

        p.order_sub {
            em.subtotal {
                font-style: normal;
                margin-left: 130px;
            }

            em.discount {
                font-style: normal;
                color: red;
                margin-left: 75px;
            }

            em.delivery {
                font-style: normal;
                margin-left: 110px;
            }
        }

        p.buttons {
            input {

                height: 40px;
                width: 270px;
                border-radius: 20px;
                border-style: groove;
                border-color: #F0F0F0;
                background-color: #F0F0F0;


            }

            i.fa-solid {
                position: absolute;
                margin-top: 13px;
                margin-left: 30px;
                font-size: 18px;

            }

            ::placeholder {
                text-align: center;
                margin-left: 20px;
            }

            button.apply {
                border-radius: 20px;
                width: 22%;
                height: 40px;
                border-style: groove;
                border-width: thin;
                text-align: center;
                border-color: #00000099;
                background-color: black;
                color: white;
            }
        }

        p.checkout {
            button.checkout {
                width: 350px;
                height: 40px;
                border-radius: 20px;
                border-style: groove;
                border-width: thin;
                text-align: center;
                border-color: #00000099;
                background-color: black;
                color: white;
            }
        }

    }

}

.small_section {
    margin-top: 50px;

    h1 {
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }

    .img1 {
        max-height: 300px;
        max-width: 400px;
    }
}

@media (max-width : 700px) 
{
    .cart_info {
        width: 100%;
        font-size: 1rem;
       
        margin-left: 1rem;

        p.chead {
            margin-left: 0.5rem;
        }
        h1 {
            margin-left: 0.5rem;
        }

        .main_cart_info {
            width: 100%;
            margin-left: 1rem;
            display: block;
            grid-template-columns: 500px 500px;
        }

        .cart_products {
            margin-left: auto;
            width: 100%;
            

            i.fa-solid {
                padding-left: 20rem;
                padding-right: 20rem;
            }

          
        }
        .order_summary {
            width: 100%;
            height: 100%;
            padding: 1rem 1rem;
            
            margin-right: auto;

            p.order_head {
                font-size: 1rem;
            }
            p.subtotal {
                font-size: 0.8rem;
            }
            p.total {
                font-size: 0.8rem;
                padding-top: 0.6rem;

                em.total {
                    margin-left: 10.5rem;
                }
            }
            p.buttons {
                input {
                    width: 51%;
                }
                button.apply {
                    width: 20%;
                   
                }
            }
            p.checkout {
                button.checkout {
                    width: 70%;
                    
                }
            }
        }

       

       
    }

    
    // .small_section {
    //     width: 100%;
    // }
    // .main_cart_info {
    //     width: 100%;
        
    // }
    // .cart_products {
    //     width: 100%;
    // }
    // .order_summary {
    //     width: 100%;
    //     font-size: 1rem;
    // }
}