$font-back: black;

:root {
    --bg-color: #ffff;
    --font-name: "Mulish", serif;
}

@import 'partial.css';


@mixin ft-every($fontface, $htline, $txtcolor, $ftwt, $casetf) {
    font-family: $fontface;
    line-height: $htline;
    color: $txtcolor;
    font-weight: $ftwt;
    text-transform: $casetf;
}

.categories {
    margin-left: 5px;
   .heading_direction
   {
    display: inline-flex;
    margin-top: 10px;   
    .category_head {
        margin-left: 120px;
        font-size: 13px;
        font-family: "Mulish",serif;
        color: #00000099;

    }

    .category_head_next{
        font-size: 13px;
        // padding-top: 10px;
        color: black;
        font-family: "Mulish",serif;
        margin-left: 5px;
    }
   }
    .maincontent {
        margin-left: 120px; 
        display: flex;

        .filters {
            width: 200px;
            border-radius: 20px;
            border-color: #0000001A;
            border-style: groove;
            border-width: 1px;
            text-align: center;
            height: 1030px;
            
            p.section_heading_first
            {
                    font-weight: bold;
                    padding-top: 20px;
                    display: flex;
                    text-align: left;
                    justify-content: space-between;
                    padding-left: 5px;
                    font-family: "Mulish",serif;

                    i.fa-solid {
                        padding-right: 5px;
                        padding-left: 4px;
                        rotate: 90deg;
                        font-size: 15px;
                        padding-top: 10px;
                        
    
                    }
            }

            p.section_heading {
                font-weight: bold;
                padding-top: 0px;
                display: flex;
                text-align: left;
                justify-content: space-between;
                padding-left: 5px;
                font-family: "Mulish",serif;

                

                i.fa-solid {
                    padding-right: 5px;
                    padding-left: 4px;
                    rotate: 90deg;
                    font-size: 15px;
                    padding-top: 10px;
                    

                }
            }


          
            p.sub_heading_section 
            {
                text-align: left;
                padding-left: 5px;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                font-family: "Mulish",serif;
                color: #00000099;

                i.fa-solid {
                
                font-size: 15px;
                padding-left: 10px;
                padding-right: 10px;
                color: #00000099;


            }
        }
        input.min
        {
           background-color: black;
        }
        input.max
        {
            background-color:black;
        }
        .colors {
            display: grid;
            gap:5px;
            grid-template-columns: 25px 25px 25px 25px 25px;
            padding-bottom: 15px;
            padding-left: 5px;
            padding-right: 5px;
            justify-content: space-evenly;
            .green_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background:  #00C12B;
                
            }
            .red_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F50606;
            }

            .yellow_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F5DD06;
            }

            .orange_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F57906;
            }
            .lightblue_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #06CAF5;
            }

            .purple_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #7D06F5;
            }
            .pink_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F506A4;
            }
            .white_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #FFFFFF;
                border: 1px solid #00000033;
            }
            .black_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #000000;
            }
            .blue_color
            {
                width: 25px;
                height: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #063AF5;
                
            }
        }
        .sizes_filter
        {   
            display: grid;
            grid-template-columns: auto auto;
            gap: 5px;
            padding-left: 2px;
            padding-bottom: 5px;
            button.sizes
            {
                font-size: 13px;
                border-radius: 20px;
                border-style: groove;
                font-family: "Mulish",serif;
                width: 90px;
                height: 33px;
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                color: #00000099;
            }
        }
        button.btn_apply
        {
            width: 180px;
            height: 40px;
            color: white;
            border-radius: 20px;
            border-style: groove;
            background-color: #000000;
            border: 1px solid black;
            font-size: 15px;
            font-family: "Mulish",serif;
            letter-spacing: 1px;
        }
    }


    .diff_clothes {

        margin-left: 100px;
        .toptext {
            display: flex;
            justify-content: stretch;
            align-content: space-evenly;
            font-family: "Mulish",serif;
            p.pro_head
            {
                font-weight: bold;
                font-size: 20px;
                
            }
            p.showing
            {
                font-size: 12px;
                color: #00000099;
                margin-left: 50%;
            }
            p.sort
            {
                font-size: 12px;
                margin-left: 30px;
                color: #00000099;
            }
            p.mp
            {
                font-size: 12px;
                color:#000000;
                margin-left: 5px;

                i.fa-solid 
                {
                    padding-left: 1px;
                    font-size: 10px;
                }
            }
        }

        .products {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 10px;
            margin-left: 0px;

            img {
                width: 250px;
                height: 300px;
                border-radius: 20px;
            }
         
            .products_images
            {
                figure
                {
                    display: flex;
                }
                figcaption
                {
                    line-height: 1px;
                    
                    label 
                    {
                        font-size: 13px;
                        background-color: #FF33331A;
                        color: red;
                        border-radius: 20px;
                        border: 1px solid #FF33331A;
                        border-style: groove;
                        border-width: 1px;
                        width: 50px;
                        height: 17px;
                        text-align: center;
                        padding-left: 3px;
                        margin-left: 8px;
                        line-height: 13px;
                        
    
                    }
                    s 
                    {
                        color:  #00000099;
                        padding-left: 10px;
                        font-size: 19px;
                    }
                    em {
                        font-style: normal;
                        color:  #00000099;
                        font-size: 10px;
                        padding-left: 5px;
                    }
                    
                    p.p_name {
                        
                        padding-top: 20px;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: "Mulish",serif;
                        letter-spacing: 1px;
                        word-spacing: 2px;
                        
                    }

                    p.fa
                    {
                        color: #FFC633;
                        font-size: 12px;
                    }

                    p.p_price {
                        font-weight: bold;
                        font-family: "Mulish",serif;
                        font-size: 19px;     
                                     
                    }
                }
            }
        }

        .pages {
            display: flex;
            align-content: space-evenly;
            justify-content: space-evenly;

            button.previous {
                width: 100px;
                margin-right: 200px;
                border-radius: 10px;
                border: 1px solid #0000001A;
                background-color: white;
            }

            button.next {
                width: 100px;
                margin-left: 200px;
                border-radius: 10px;
                border: 1px solid #0000001A;
                background-color: white;
            }

            button.page_number {

                text-align: center;
                border-radius: 5px;
                border: 1px solid #0000001A;
                background-color: white;
                justify-content: space-between;
                margin-left: 10px;
                color: #00000099;
                

            }


        }
    }
}
}




.small_section {
    margin-top: 50px;

    h1 {
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }

    .img1 {
        max-height: 300px;
        max-width: 400px;
    }
}

@media (max-width : 700px)
{
    .categories {
        margin-left: 0.1rem;
        .heading_direction {
            display: inline-flex;
            margin-top: 0.5rem;
            
            .category_head{
                margin-left: 1rem;
                font-size: 1rem;
            }
            
        }

        .category_head_next{
            font-size: 1rem;
            margin-left: 0.1rem;
        }
    }
    .maincontent {
        margin-left: auto;
        display: flex;

        .filters {
            width: auto;
            height: 100%;
        
         p.section_heading_first {
            padding-top: 1rem;
            display: flex;
            padding-left: 0.1rem;

            i.fa-solid {
                font-size: 0.5rem;
            }
        }
        p.section_heading {
            display: flex;

            i.fa-solid {
                font-size: 0.5rem;
            }
        }
        p.sub_heading_section {
            display: flex;
            font-size: 1rem;

            i.fa-solid {
                font-size : 0.5rem;
                color: #00C12B;
            }
        }
        .colors {
            display: grid;
            gap: 0.8rem;
            grid-template-columns: auto auto auto auto auto;
            padding-left: 0.8rem;

            .green_color
            {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                background:  #00C12B;
                
            }
            .red_color
            {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                background: #F50606;
            }

            .yellow_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F5DD06;
            }

            .orange_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F57906;
            }
            .lightblue_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #06CAF5;
            }

            .purple_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #7D06F5;
            }
            .pink_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #F506A4;
            }
            .white_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #FFFFFF;
                border: 1px solid #00000033;
            }
            .black_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #000000;
            }
            .blue_color
            {
                width: 100%;
                height: 100%;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background: #063AF5;
                
            }

        }

        .sizes_filter {
            display: block;
            button.sizes {
                font-size: 0.9rem;
                border-radius: 1rem;
                border-style: groove;
                font-family: "Mulish",serif;
                width: 100%;
                height: 100%;
                background-color: #F0F0F0;
                border: 1px solid #F0F0F0;
                color: #00000099;
            }

            button.btn_apply {
                width: 100%;
                height: auto;
                border-radius: 0.9rem;
                font-size: 0.7rem;
            }
        }
        .diff_clothes {
            margin-left: auto;

            .toptext {
                display: flex;
                
                p.pro_head {
                    font-size: 1rem;
                }
                p.showing {
                    font-size: 0.5rem;
                    margin-left: 10%;
                }
                p.sort {
                    font-size: 0.5rem;
                }
                p.mp {
                    font-size: 0.5rem;
                    
                    i.fa-solid 
                    {
                        font-size: 0.4rem;
                    }
                }


            }
            .products {
                display: block;
                column-gap: 0.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                }

                .products_images {
                    figure {
                        display: flex;
                    }
                    figcaption {
                        label {
                            font-size: 0.5rem;
                            border-radius: 1rem;
                            background-color: #FF33331A;
                            color: red;
                            border-style: groove;
                            border-width: 1px;
                            text-align:  center;
                        }
                        s
                        {
                            font-size: 1rem;
                        }
                        em {
                            font-size: 0.5rem;
                        }
                        p.p_name{
                            font-size: 1rem;
                            
                        }
                        p.fa{
                            font-size: 0.5rem;
                        }

                        p.p_price {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .pages{
                display: flex;
                justify-content: lef ;
                button.previous {
                    width: 100%;
                    margin-right: auto;

                }
                button.next {
                    width: 100%;
                    margin-right: auto;
                    
                }
                button.page_number {
                    width: 100%;
                    margin-right: auto;
                    text-align: center;
                    margin-left: auto;
                    
                }
            }
        }
    }

    }
}

