@import 'partial.css';
:root {
  --bg-color: #ffff;
  --font-name: "Mulish", serif;
}

.categories {
  margin-left: 5px;
}
.categories .heading_direction {
  display: inline-flex;
  margin-top: 10px;
}
.categories .heading_direction .category_head {
  margin-left: 120px;
  font-size: 13px;
  font-family: "Mulish", serif;
  color: rgba(0, 0, 0, 0.6);
}
.categories .heading_direction .category_head_next {
  font-size: 13px;
  color: black;
  font-family: "Mulish", serif;
  margin-left: 5px;
}
.categories .maincontent {
  margin-left: 120px;
  display: flex;
}
.categories .maincontent .filters {
  width: 200px;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.1019607843);
  border-style: groove;
  border-width: 1px;
  text-align: center;
  height: 1030px;
}
.categories .maincontent .filters p.section_heading_first {
  font-weight: bold;
  padding-top: 20px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-left: 5px;
  font-family: "Mulish", serif;
}
.categories .maincontent .filters p.section_heading_first i.fa-solid {
  padding-right: 5px;
  padding-left: 4px;
  rotate: 90deg;
  font-size: 15px;
  padding-top: 10px;
}
.categories .maincontent .filters p.section_heading {
  font-weight: bold;
  padding-top: 0px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-left: 5px;
  font-family: "Mulish", serif;
}
.categories .maincontent .filters p.section_heading i.fa-solid {
  padding-right: 5px;
  padding-left: 4px;
  rotate: 90deg;
  font-size: 15px;
  padding-top: 10px;
}
.categories .maincontent .filters p.sub_heading_section {
  text-align: left;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: "Mulish", serif;
  color: rgba(0, 0, 0, 0.6);
}
.categories .maincontent .filters p.sub_heading_section i.fa-solid {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.categories .maincontent .filters input.min {
  background-color: black;
}
.categories .maincontent .filters input.max {
  background-color: black;
}
.categories .maincontent .filters .colors {
  display: grid;
  gap: 5px;
  grid-template-columns: 25px 25px 25px 25px 25px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-evenly;
}
.categories .maincontent .filters .colors .green_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #00C12B;
}
.categories .maincontent .filters .colors .red_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #F50606;
}
.categories .maincontent .filters .colors .yellow_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #F5DD06;
}
.categories .maincontent .filters .colors .orange_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #F57906;
}
.categories .maincontent .filters .colors .lightblue_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #06CAF5;
}
.categories .maincontent .filters .colors .purple_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #7D06F5;
}
.categories .maincontent .filters .colors .pink_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #F506A4;
}
.categories .maincontent .filters .colors .white_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.categories .maincontent .filters .colors .black_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #000000;
}
.categories .maincontent .filters .colors .blue_color {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #063AF5;
}
.categories .maincontent .filters .sizes_filter {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
}
.categories .maincontent .filters .sizes_filter button.sizes {
  font-size: 13px;
  border-radius: 20px;
  border-style: groove;
  font-family: "Mulish", serif;
  width: 90px;
  height: 33px;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  color: rgba(0, 0, 0, 0.6);
}
.categories .maincontent .filters button.btn_apply {
  width: 180px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border-style: groove;
  background-color: #000000;
  border: 1px solid black;
  font-size: 15px;
  font-family: "Mulish", serif;
  letter-spacing: 1px;
}
.categories .maincontent .diff_clothes {
  margin-left: 100px;
}
.categories .maincontent .diff_clothes .toptext {
  display: flex;
  justify-content: stretch;
  align-content: space-evenly;
  font-family: "Mulish", serif;
}
.categories .maincontent .diff_clothes .toptext p.pro_head {
  font-weight: bold;
  font-size: 20px;
}
.categories .maincontent .diff_clothes .toptext p.showing {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 50%;
}
.categories .maincontent .diff_clothes .toptext p.sort {
  font-size: 12px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.categories .maincontent .diff_clothes .toptext p.mp {
  font-size: 12px;
  color: #000000;
  margin-left: 5px;
}
.categories .maincontent .diff_clothes .toptext p.mp i.fa-solid {
  padding-left: 1px;
  font-size: 10px;
}
.categories .maincontent .diff_clothes .products {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  margin-left: 0px;
}
.categories .maincontent .diff_clothes .products img {
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
.categories .maincontent .diff_clothes .products .products_images figure {
  display: flex;
}
.categories .maincontent .diff_clothes .products .products_images figcaption {
  line-height: 1px;
}
.categories .maincontent .diff_clothes .products .products_images figcaption label {
  font-size: 13px;
  background-color: rgba(255, 51, 51, 0.1019607843);
  color: red;
  border-radius: 20px;
  border: 1px solid rgba(255, 51, 51, 0.1019607843);
  border-style: groove;
  border-width: 1px;
  width: 50px;
  height: 17px;
  text-align: center;
  padding-left: 3px;
  margin-left: 8px;
  line-height: 13px;
}
.categories .maincontent .diff_clothes .products .products_images figcaption s {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  font-size: 19px;
}
.categories .maincontent .diff_clothes .products .products_images figcaption em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  padding-left: 5px;
}
.categories .maincontent .diff_clothes .products .products_images figcaption p.p_name {
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Mulish", serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.categories .maincontent .diff_clothes .products .products_images figcaption p.fa {
  color: #FFC633;
  font-size: 12px;
}
.categories .maincontent .diff_clothes .products .products_images figcaption p.p_price {
  font-weight: bold;
  font-family: "Mulish", serif;
  font-size: 19px;
}
.categories .maincontent .diff_clothes .pages {
  display: flex;
  align-content: space-evenly;
  justify-content: space-evenly;
}
.categories .maincontent .diff_clothes .pages button.previous {
  width: 100px;
  margin-right: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: white;
}
.categories .maincontent .diff_clothes .pages button.next {
  width: 100px;
  margin-left: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: white;
}
.categories .maincontent .diff_clothes .pages button.page_number {
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: white;
  justify-content: space-between;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.small_section {
  margin-top: 50px;
}
.small_section h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.small_section .img1 {
  max-height: 300px;
  max-width: 400px;
}

@media (max-width: 700px) {
  .categories {
    margin-left: 0.1rem;
  }
  .categories .heading_direction {
    display: inline-flex;
    margin-top: 0.5rem;
  }
  .categories .heading_direction .category_head {
    margin-left: 1rem;
    font-size: 1rem;
  }
  .categories .category_head_next {
    font-size: 1rem;
    margin-left: 0.1rem;
  }
  .maincontent {
    margin-left: auto;
    display: flex;
  }
  .maincontent .filters {
    width: auto;
    height: 100%;
  }
  .maincontent .filters p.section_heading_first {
    padding-top: 1rem;
    display: flex;
    padding-left: 0.1rem;
  }
  .maincontent .filters p.section_heading_first i.fa-solid {
    font-size: 0.5rem;
  }
  .maincontent .filters p.section_heading {
    display: flex;
  }
  .maincontent .filters p.section_heading i.fa-solid {
    font-size: 0.5rem;
  }
  .maincontent .filters p.sub_heading_section {
    display: flex;
    font-size: 1rem;
  }
  .maincontent .filters p.sub_heading_section i.fa-solid {
    font-size: 0.5rem;
    color: #00C12B;
  }
  .maincontent .filters .colors {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 0.8rem;
  }
  .maincontent .filters .colors .green_color {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background: #00C12B;
  }
  .maincontent .filters .colors .red_color {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background: #F50606;
  }
  .maincontent .filters .colors .yellow_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #F5DD06;
  }
  .maincontent .filters .colors .orange_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #F57906;
  }
  .maincontent .filters .colors .lightblue_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #06CAF5;
  }
  .maincontent .filters .colors .purple_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #7D06F5;
  }
  .maincontent .filters .colors .pink_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #F506A4;
  }
  .maincontent .filters .colors .white_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .maincontent .filters .colors .black_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #000000;
  }
  .maincontent .filters .colors .blue_color {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #063AF5;
  }
  .maincontent .filters .sizes_filter {
    display: block;
  }
  .maincontent .filters .sizes_filter button.sizes {
    font-size: 0.9rem;
    border-radius: 1rem;
    border-style: groove;
    font-family: "Mulish", serif;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    color: rgba(0, 0, 0, 0.6);
  }
  .maincontent .filters .sizes_filter button.btn_apply {
    width: 100%;
    height: auto;
    border-radius: 0.9rem;
    font-size: 0.7rem;
  }
  .maincontent .filters .diff_clothes {
    margin-left: auto;
  }
  .maincontent .filters .diff_clothes .toptext {
    display: flex;
  }
  .maincontent .filters .diff_clothes .toptext p.pro_head {
    font-size: 1rem;
  }
  .maincontent .filters .diff_clothes .toptext p.showing {
    font-size: 0.5rem;
    margin-left: 10%;
  }
  .maincontent .filters .diff_clothes .toptext p.sort {
    font-size: 0.5rem;
  }
  .maincontent .filters .diff_clothes .toptext p.mp {
    font-size: 0.5rem;
  }
  .maincontent .filters .diff_clothes .toptext p.mp i.fa-solid {
    font-size: 0.4rem;
  }
  .maincontent .filters .diff_clothes .products {
    display: block;
    column-gap: 0.5rem;
  }
  .maincontent .filters .diff_clothes .products img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .maincontent .filters .diff_clothes .products .products_images figure {
    display: flex;
  }
  .maincontent .filters .diff_clothes .products .products_images figcaption label {
    font-size: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 51, 51, 0.1019607843);
    color: red;
    border-style: groove;
    border-width: 1px;
    text-align: center;
  }
  .maincontent .filters .diff_clothes .products .products_images figcaption s {
    font-size: 1rem;
  }
  .maincontent .filters .diff_clothes .products .products_images figcaption em {
    font-size: 0.5rem;
  }
  .maincontent .filters .diff_clothes .products .products_images figcaption p.p_name {
    font-size: 1rem;
  }
  .maincontent .filters .diff_clothes .products .products_images figcaption p.fa {
    font-size: 0.5rem;
  }
  .maincontent .filters .diff_clothes .products .products_images figcaption p.p_price {
    font-size: 1rem;
  }
  .maincontent .filters .diff_clothes .pages {
    display: flex;
    justify-content: left;
  }
  .maincontent .filters .diff_clothes .pages button.previous {
    width: 100%;
    margin-right: auto;
  }
  .maincontent .filters .diff_clothes .pages button.next {
    width: 100%;
    margin-right: auto;
  }
  .maincontent .filters .diff_clothes .pages button.page_number {
    width: 100%;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
  }
}

/*# sourceMappingURL=category.css.map */
