

ul{
    list-style: none;
}

.container
{
    display: grid;
    grid-template-columns: 560px 20px;

    img{
        width: 400px;
        height: 600px;
        margin-left: 600px;
    }
     
    li p.second-line
    {
        margin-top: 300px;
    }


}

.uptp
{
    display: grid;
    grid-template-columns: 400px 200px;
}
p.numbers
{
    display: inline-grid;
    /* font-weight: 100px; */

    /* padding: 10px; */
}