$font-back: black;
$btn-border-radius: 50px;

:root {
    --bg-color: #f2f0f1;
    --font-name: "Mulish", serif;
}

@mixin fonts {
    font-family: "Raleway", serif;
    line-height: 70px;
    color: $font-back;
    font-weight: bold;
    text-transform: capitalize;
}

@mixin ft-every($fontface, $htline, $txtcolor, $ftwt, $casetf) {
    font-family: $fontface;
    line-height: $htline;
    color: $txtcolor;
    font-weight: $ftwt;
    text-transform: $casetf;
}

;

@mixin ft-fam($fontface) {
    font-family: $fontface;
}

@mixin bgop($opac) {
    background-color: $opac;
}


body {
    @include bgop(#f2f0f1);
}

header {

   

        p.cancel_head {
            background-color: $font-back;
            color: white;
            text-align: center;
            padding-top: 5px;
            max-width: auto;
            height: 35px;
            display: block;
            button.close 
            {
                color: white;
                background-color: #000;
                border-color: #000;
                border-style: hidden;
                padding-top: 0px;
            }
            p i.fa {
                margin-left: 5px;
            }
        
    }
  
}

nav.navbar {
    word-spacing: 15px;
    background-color: white;
    
}



ul {
    list-style: none;
}
li.nav-item1  {
    i.fa-solid {
        padding-top: 9px;
    }
}
li.nav-item {
    a.nav-link {
        font-family: var(--font-name);
        padding-top: 5px;
    }
    i.fa-solid {
        position: absolute;
        padding-top: 13px;
        color: #00000066;
        padding-left: 10px;
        font-size: 14px;
    }
    form.d-inline-flex {
        width: 600px;
        input.form-control {
            border-radius: 30px;
        }

        input::placeholder {
            font-size: 14px;
            align-items: center;
            font-family: var(--font-name);
            padding-left: 30px;
        }
    }
}

.container-fluid li a {
    color: $font-back;
    word-spacing: normal;
    display: inline-block;
    padding-top: 0px;
    // margin-bottom: 0px;
    width: 100%;
    
    
}

.container-fluid a.navbar-brand {
    font-weight: bold;
    margin-left: 100px;
    @include ft-every("Raleway", 30px, $font-back , bold, capitalize); //mixin
    font-size: 25px;
   
}

.uptodate {
    margin-left: 160px;
    margin-top: 40px;
    width: 1000px;
    border-radius: 30px;
    align-items: center;
    background-color: $font-back;
    font-family: "Raleway",serif;

    .grid-container {
        color: white;
        grid-template-columns: 420px 100px;
        display: grid;
        column-gap: 300px;
        width: 100px;
        border-radius: 5000px;
        align-items: center;


        .grdate_1 {
            font-weight: bold;
            margin-top: 10px;
            font-size: 30px;
            margin-left: 70px;
            text-transform: uppercase;
            height: 150px;
            letter-spacing: 1px;
            line-height: 45px;
        }

        .grdate_2 {
            margin-top: 10px;
            padding-top: 10px;

            .box {

                p.fa-regular
                {
                    position: absolute;
                    color: #000;
                    align-items: baseline;
                    padding-top: 13px;
                    font-size: 14px;
                    padding-left: 10px;
                }                
                input.form-control {
                    border-radius: 4000px;
                    width: 250px;
                }

                input::placeholder {
                    font-size: 14px;
                    align-items: center;
                    font-family: var(--font-name);
                    padding-left: 20px;
                }

                button {
                    margin-top: 10px;
                    border-radius: 4000px;
                    width: 250px;
                    height: 40px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    background-color: white;
                    font-family: var(--font-name);
                }
            }
        }
    }
}

.footer_grid {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--bg-color);
    .grid-container {
        display: grid;
        margin-top: 20px;
        grid-template-columns: 270px 230px 230px 230px 200px;
        column-gap: 1px;
        text-align: left;
        margin-left: 120px;
        padding-top: 0px;
    }

    p#first_column {
        text-align: left;
        @include ft-every("Raleway", 30px, $font-back , bold, capitalize); //mixin
        font-size: 30px;
    }

    #first_column_subheading {
        text-align: left;
        font-size: 13px;
        word-spacing: 1px;
        word-wrap: break-word;
        white-space: pre-line;
        text-wrap: wrap;
        line-height: 15px;
        justify-content: space-evenly;
        font-family: var(--font-name);
    }

    p {
        strong {
            font-family: var(--font-name);
            margin-left: 80px;
        }
    }

    .subs {
        margin-left: 80px;
        font-size: 14px;
        font-family: var(--font-name);
    }
}

footer {
    background-color: #f2f0f1;
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;

    p.trademarks {
        margin-left: 30px;
        // background-color: #f2f0f1;
    }
    
    p.brands {
        margin-left: 580px;
        font-size: 20px;
        // background-color: #f2f0f1;
    }
}


@media  (max-width:1300px)  
    
{
        p.cancel_head {
            width: 100%;
            height: 100%;
            background-color: #000;
            font-size: 1rem;
            padding-left: 0%;
        }
}

@media (max-width : 700px)
{
    header {
        width: 100%;
        display: block;
        background-color: aqua;
        font-size: 1rem;
        padding-left: 0%;
         background-color: black;
    }

    .uptodate {
        font-size: 2rem;
        margin-left: 0.5rem;
        width: 100%;

        .grid-container {
            grid-template-columns: auto auto;
            display: grid;
            width: 100%;
            column-gap: 1.1rem;

            .grdate_1 {
                font-size: 1rem;
                line-height: auto;
                margin-left: 1.2rem;
            }
            .grdate_2 {
                margin-right: 1.5rem;
            }
        }
    }
    .footer_grid {
        background-color: #f2f0f1;
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            margin-left: 1em;
            width: 10%;
         

        }
        p#first_column {
            font-size: 1.01rem;
        }

        #first_column_subheading {
            font-size: 1rem;
        }
    }
    footer {
        display: block;
        column-gap: 2rem;
        font-size: 1rem;
        grid-template-columns: auto auto;

        p.trademarks {
            margin-left: auto;
        }
        p.brands {
            margin-left: auto;
            font-size: 1rem;
        }
    }

}

  
