@import 'partial.css';
:root {
  --bg-color: #ffff;
  --font-name: "Mulish", sans-serif;
}

.clothes {
  margin-top: 20px;
  height: 600px;
}
.clothes p.hsmt {
  padding-left: 130px;
  font-family: "Mulish", serif;
}
.clothes .clothes_info {
  display: grid;
  grid-template-columns: 170px 430px 550px;
  margin-left: 100px;
  margin-right: 100px;
  white-space: none;
}
.clothes .clothes_info .image_details {
  height: 600px;
}
.clothes .clothes_info .image_details p.fa {
  color: orange;
}
.clothes .clothes_info .image_details p.fa em {
  color: black;
  font-style: normal;
  font-size: 12px;
  margin-left: 5px;
}
.clothes .clothes_info .image_details p.shirt_title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Raleway", serif;
  text-transform: uppercase;
}
.clothes .clothes_info .image_details p.price_shirt {
  font-size: 30px;
  font-weight: bold;
}
.clothes .clothes_info .image_details p.price_shirt s {
  color: #c2baba;
}
.clothes .clothes_info .image_details p.price_shirt label {
  font-size: 15px;
  background-color: rgba(255, 51, 51, 0.1019607843);
  color: red;
  border-radius: 20px;
  border-style: groove;
  border-top: white;
  border-width: 1px;
  width: 50px;
  height: fit-content;
  text-align: center;
}
.clothes .clothes_info .image_details p.subhead_shirt {
  font-size: 15px;
  font-family: "Mulish", serif;
  color: rgba(0, 0, 0, 0.6);
}
.clothes .clothes_info .image_details .colors {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.clothes .clothes_info .image_details .colors .olive {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #4F4631;
}
.clothes .clothes_info .image_details .colors .green {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #314F4A;
}
.clothes .clothes_info .image_details .colors .blue {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #31344F;
}
.clothes .clothes_info button.sizes {
  width: 100px;
  border-radius: 20px;
  border-style: groove;
  border-width: thin;
  height: 35px;
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0.6);
  border-color: #F0F0F0;
  text-align: center;
}
.clothes .clothes_info .addmore_cart {
  padding-top: 0%;
  display: flex;
  gap: 10px;
}
.clothes .clothes_info .addmore_cart button.addmore {
  width: 100px;
  border-radius: 20px;
  border-style: groove;
  border-width: thin;
  height: 40px;
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0.6);
  border-color: #F0F0F0;
  text-align: center;
  text-wrap: nowrap;
}
.clothes .clothes_info .addmore_cart button.cart {
  padding-right: 40px;
  width: 700px;
  border-radius: 20px;
  border-style: groove;
  border-width: thin;
  height: 40px;
  background-color: black;
  color: white;
  border-color: #F0F0F0;
}
.clothes .smaller_image figure.tshirt_img img {
  object-fit: cover;
  border-radius: 20px;
  width: 140px;
  height: 165px;
}
.clothes .bigger_image figure.big_tshirt img {
  width: 350px;
  height: 530px;
  border-radius: 10px;
}

.product_ratings_faq {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  align-items: center;
}
.product_ratings_faq button.more {
  margin-top: 20px;
  margin-left: 40%;
  border-radius: 50px;
  font-size: 16px;
  border-style: groove;
  border-width: thin;
  text-align: center;
  color: black;
  background-color: white;
  width: 250px;
  height: 40px;
}
.product_ratings_faq .heading_tabs {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.product_ratings_faq .heading_tabs p {
  font-family: "Mulish", serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  line-height: normal;
}
.product_ratings_faq .sub_heading {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto auto;
  margin-left: 120px;
}
.product_ratings_faq .sub_heading i.fa-solid {
  border-radius: 400px;
  font-size: 18px;
  rotate: 90deg;
  width: 40px;
  height: 40px;
  margin-left: 140px;
  background-color: #F0F0F0;
  text-align: center;
  align-content: center;
  border-color: #31344F;
}
.product_ratings_faq .sub_heading button.btn {
  border-style: groove;
  width: 100px;
  background-color: #F0F0F0;
  border-radius: 50px;
  height: 50px;
}
.product_ratings_faq .sub_heading button.review_btn {
  border-radius: 50px;
  background-color: black;
  color: white;
  border-style: groove;
  text-align: center;
  width: 150px;
  border: #000;
  height: 50px;
}
.product_ratings_faq .sub_heading .sub_heading_small p.review_heading {
  font-size: 20px;
  font-weight: bold;
}
.product_ratings_faq .sub_heading .sub_heading_small p.review_heading em {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.product_ratings_faq .reviews {
  display: grid;
  grid-template-columns: 570px 570px;
  margin-right: 100px;
  margin-top: 20px;
  margin-left: 25px;
  gap: 50px;
}
.product_ratings_faq .reviews p.customer_name {
  padding-left: 14px;
  font-size: 20px;
  font-family: "Mulish", serif;
  font-weight: bold;
}
.product_ratings_faq .reviews p.customer_review {
  padding-left: 14px;
  font-size: 15px;
  font-family: "Mulish", serif;
  line-height: 25px;
}
.product_ratings_faq .reviews p.dateofreview {
  padding-left: 14px;
  font-size: 15px;
  font-family: "Mulish", serif;
}
.product_ratings_faq .reviews p.fa {
  padding-left: 10px;
  font-size: 10px;
  color: orange;
}
.product_ratings_faq .reviews .grid-1 {
  border: 1px solid #c2baba;
  border-radius: 31px;
}
.product_ratings_faq .reviews .grid-2 {
  border: 1px solid #c2baba;
  border-radius: 31px;
}
.product_ratings_faq .reviews .grid-3 {
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 31px;
  border: 1px solid #c2baba;
}

.youmightlike {
  margin-left: 70px;
}
.youmightlike p.heading {
  margin-top: 50px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  font-family: "Raleway", serif;
  text-align: center;
}
.youmightlike .moreclothesimages {
  padding-top: 20px;
  margin-left: 30px;
}
.youmightlike .moreclothesimages img {
  width: 220px;
  margin-left: 100px;
  border-radius: 1.25rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  display: flex;
  height: 250px;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: space-evenly;
}
.youmightlike .moreclothesimages figure {
  display: inline-block;
  grid-template-columns: 100px 100px 100px 100px;
  width: 230px;
}
.youmightlike .moreclothesimages figcaption {
  margin-left: 100px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  width: 230px;
  font-family: "Mulish", serif;
}
.youmightlike .moreclothesimages figcaption p.fa {
  color: orange;
}

.small_section {
  margin-top: 50px;
}
.small_section h1 {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.small_section .img1 {
  max-height: 300px;
  max-width: 400px;
}

@media (max-width: 700px) {
  .clothes {
    height: 100%;
  }
  .clothes p.hsmt {
    padding-left: 2rem;
  }
  .clothes .clothes_info {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .clothes .clothes_info .image_details {
    height: 100%;
  }
  .clothes .clothes_info .image_details p.fa em {
    font-size: 1rem;
  }
  .clothes .clothes_info .image_details p.shirt_title {
    font-size: 1.5rem;
  }
  .clothes .clothes_info .image_details p.price_shirt {
    font-size: 1.5rem;
  }
  .clothes .clothes_info .image_details p.price_shirt label {
    font-size: 0.8rem;
    border-radius: 1rem;
    border-width: 0.8rem;
    height: fit-content;
    text-align: center;
  }
  .clothes .clothes_info .image_details p.subhead_shirt {
    font-size: 0.8rem;
  }
  .clothes .clothes_info .image_details .colors {
    display: flex;
    gap: 0.5rem;
  }
  .clothes .clothes_info .image_details .colors .olive {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 1.2rem;
    background: #4F4631;
  }
  .clothes .clothes_info .image_details .colors .green {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 1.2rem;
    background: #314F4A;
  }
  .clothes .clothes_info .image_details .colors .blue {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 1.2rem;
    background: #31344F;
  }
  .clothes .clothes_info button.sizes {
    width: auto;
    border-radius: 1rem;
    height: auto;
    text-align: center;
  }
  .clothes .clothes_info .addmore_cart {
    display: flex;
  }
  .clothes .clothes_info .addmore_cart button.addmore {
    width: auto;
    border-radius: 1rem;
    height: auto;
    text-align: center;
  }
  .clothes .clothes_info .addmore_cart button.cart {
    width: auto;
    border-radius: 1rem;
    text-align: center;
  }
  .clothes .smaller_image figure.tshirt_img img {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
  .clothes .bigger_image figure.big_tshirt img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }
  .product_ratings_faq button.more {
    font-size: 0.8rem;
    border-radius: 1.5;
    width: auto;
    height: auto;
  }
  .product_ratings_faq .heading_tabs {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .product_ratings_faq .heading_tabs p {
    font-size: 1rem;
  }
  .product_ratings_faq .sub_heading {
    display: flex;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 4rem;
  }
  .product_ratings_faq .sub_heading i.fa-solid {
    border-radius: 20rem;
    height: auto;
    width: auto;
    margin-left: 0.1rem;
  }
  .product_ratings_faq .sub_heading button.btn {
    width: auto;
    border-radius: 2.5rem;
    height: auto;
  }
  .product_ratings_faq .sub_heading button.review_btn {
    border-radius: 2.4rem;
    width: auto;
    height: auto;
  }
  .product_ratings_faq .sub_heading_small p.review_heading {
    font-size: 1.1rem;
  }
  .product_ratings_faq .sub_heading_small p.review_heading em {
    font-size: 0.8rem;
  }
  .product_ratings_faq .reviews {
    display: block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .product_ratings_faq .reviews p.customer_name {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  .product_ratings_faq .reviews p.customer_review {
    font-size: 1rem;
    padding-left: 0.5rem;
    line-height: 1.5rem;
  }
  .product_ratings_faq .reviews p.dateofreview {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  .product_ratings_faq .reviews p.fa {
    font-size: 0.5rem;
    padding-left: 0.5rem;
  }
  .product_ratings_faq .reviews .grid-1 {
    border: 1px solid #c2baba;
    border-radius: 1.5rem;
  }
  .product_ratings_faq .reviews .grid-2 {
    border: 1px solid #c2baba;
    border-radius: 1.5rem;
  }
  .product_ratings_faq .reviews .grid-3 {
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 1.5rem;
    border: 1px solid #c2baba;
  }
  .youmightlike {
    margin-left: 2rem;
  }
  .youmightlike p.heading {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .youmightlike .moreclothesimages {
    margin-left: 1.4rem;
  }
  .youmightlike .moreclothesimages img {
    width: 100%;
    margin-left: 3rem;
    border-radius: 1.25rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    display: flex;
    height: 100%;
    grid-template-columns: auto auto auto auto;
  }
  .youmightlike .moreclothesimages figure {
    display: inline-block;
    grid-template-columns: auto auto auto auto;
    width: 100%;
  }
  .youmightlike .moreclothesimages figcaption {
    margin-left: 3rem;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    width: 100%;
    font-family: "Mulish", serif;
  }
}

/*# sourceMappingURL=product.css.map */
