$font-back: black;
$btn-border-radius: 50px;
@import 'partial.css';
:root {
    --bg-color: #f2f0f1;
    --font-name: "Mulish", serif;
}
// Function to convert px to rem
@function pxtorem ($value) {
    $remval: (
        $value / 16)+rem;
    @return $remval;
}
html {
    font-size: 16px;
}
@mixin fonts {
    font-family: "Raleway",
        serif;
    line-height: 70px;
    color: $font-back;
    font-weight: bold;
    text-transform: capitalize;
}
@mixin ft-every($fontface, $htline, $txtcolor, $ftwt, $casetf) {
    font-family: $fontface;
    line-height: $htline;
    color: $txtcolor;
    font-weight: $ftwt;
    text-transform: $casetf;
}
@mixin ft-fam($fontface) {
    font-family: $fontface;
}
@mixin bgop($opac) {
    background-color: $opac;
}
body {
    @include bgop(#f2f0f1
);
}
* {
    margin: 0;
    padding: 0;
}
// Header and Footer and repeated info 
header {
    p.cancel_head {
        background-color: $font-back;
        color: white;
        text-align: center;
        max-width: auto;
        height: 30px;
        display: block;
        button.close {
            color: white;
            background-color: #000;
            border-color: #000;
            border-style: hidden;
            padding-top: 0px;
        }
        p i.fa {
            margin-left: 5px;
        }
    }
}
nav.navbar {
    word-spacing: 15px;
    background-color: white;
    width: 100%;
    margin-left: auto;
}
ul {
    list-style: none;
}
li.nav-item1 {
    i.fa-solid {
        padding-top: 9px;
    }
}
li.nav-item {
    a.nav-link {
        font-family: var(--font-name);
        padding-top: 5px;
    }
    i.fa-solid {
        position: absolute;
        padding-top: 13px;
        color: #00000066;
        padding-left: 10px;
        font-size: 14px;
    }
    form.d-inline-flex {
        width: 600px;
        input.form-control {
            border-radius: 30px;
        }
        input::placeholder {
            font-size: 14px;
            align-items: center;
            font-family: var(--font-name);
            padding-left: 30px;
        }
    }
}
.container-fluid li a {
    color: $font-back;
    word-spacing: normal;
    display: inline-block;
    padding-top: 0px;
    // margin-bottom: 0px;
    width: 100%;
}
.container-fluid a.navbar-brand {
    font-weight: bold;
    margin-left: 100px;
    @include ft-every("Raleway", 30px, $font-back , bold, capitalize); //mixin
    font-size: 25px;
}
.uptodate {
    margin-left: 160px;
    margin-top: 40px;
    width: 1000px;
    border-radius: 30px;
    align-items: center;
    background-color: $font-back;
    font-family: "Raleway", serif;
    .grid-container {
        color: white;
        grid-template-columns: 420px 100px;
        display: grid;
        column-gap: 300px;
        width: 100px;
        border-radius: 5000px;
        align-items: center;
        .grdate_1 {
            font-weight: bold;
            margin-top: 10px;
            font-size: 30px;
            margin-left: 70px;
            text-transform: uppercase;
            height: 150px;
            letter-spacing: 1px;
            line-height: 45px;
        }
        .grdate_2 {
            margin-top: 10px;
            padding-top: 10px;
            .box {
                p.fa-regular {
                    position: absolute;
                    color: #000;
                    align-items: baseline;
                    padding-top: 13px;
                    font-size: 14px;
                    padding-left: 10px;
                }
                input.form-control {
                    border-radius: 4000px;
                    width: 250px;
                }
                input::placeholder {
                    font-size: 14px;
                    align-items: center;
                    font-family: var(--font-name);
                    padding-left: 20px;
                }
                button {
                    margin-top: 10px;
                    border-radius: 4000px;
                    width: 250px;
                    height: 40px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    background-color: white;
                    font-family: var(--font-name);
                }
            }
        }
    }
}
.footer_grid {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--bg-color);
    .grid-container {
        display: grid;
        margin-top: 20px;
        grid-template-columns: 270px 230px 230px 230px 200px;
        column-gap: 1px;
        text-align: left;
        margin-left: 120px;
        padding-top: 0px;
    }
    p#first_column {
        text-align: left;
        @include ft-every("Raleway", 30px, $font-back , bold, capitalize); //mixin
        font-size: 30px;
    }
    #first_column_subheading {
        text-align: left;
        font-size: 13px;
        word-spacing: 1px;
        word-wrap: break-word;
        white-space: pre-line;
        text-wrap: wrap;
        line-height: 15px;
        justify-content: space-evenly;
        font-family: var(--font-name);
    }
    p {
        strong {
            font-family: var(--font-name);
            margin-left: 80px;
        }
    }
    .subs {
        margin-left: 80px;
        font-size: 14px;
        font-family: var(--font-name);
    }
}
footer {
    background-color: #f2f0f1;
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    p.trademarks {
        margin-left: 30px;
        // background-color: #f2f0f1;
    }
    p.brands {
        margin-left: 580px;
        font-size: 20px;
        // background-color: #f2f0f1;
    }
}
// Page with big image
.main-part {
    display: grid;
    grid-template-columns: 600px auto;
    background-color: var(--bg-color);
    height: 45.75rem;
    padding-bottom: 0rem;
    max-width: 100%;
    width: 88%;
    img {
        margin-left: 10rem;
        max-width: 100%;
        // width: pxtorem(10);
        height: 45.75rem;
        width: 100%;
    }
    p.first_line {
        @include ft-every("Raleway", 70px, $font-back , bold, capitalize); //mixin
        font-size: 60px;
        margin-top: 40px;
        padding-left: 60px;
        padding-right: 00px;
    }
    p.second_line {
        font-size: 18px;
        padding-top: 40px;
        padding-left: 70px;
        background-color: var(--bg-color);
        word-wrap: normal;
        white-space: pre-line;
        line-height: 40px;
        display: flex;
        font-family: var(--font-name);
    }
    button.btn {
        margin-top: 10px;
        border-radius: 50px;
        font-size: 20px;
        margin-left: 70px;
        background-color: $font-back;
        color: white;
        font-family: var(--font-name);
        text-align: center;
        width: 200px;
        border-style: groove;
        border-width: thin;
        margin-bottom: 50px;
    }
}
// Additional info about customers, brands, basic one's
.grid-container1 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    column-gap: 5px;
    margin-left: 70px;
    text-align: left;
    p.strong_cases {
        font-family: var(--font-name);
        font-size: 37px;
    }
    p.sub_cases {
        font-family: var(--font-name);
        font-size: 13px;
    }
}
// Brand names
td {
    padding-bottom: 10px;
    padding-right: 90px;
    padding-left: 10px;
    font-family: var(--font-name);
}
#information {
    font-size: 10px;
    padding-bottom: 5rem;
}
.container {
    background-color: var(--bg-color);
    li a {
        color: $font-back;
        word-spacing: normal;
    }
}
#brandings {
    background-color: $font-back;
    height: 50px;
    td {
        color: white;
        padding-left: 50%;
        column-gap: 50px;
        word-wrap: normal;
        white-space: nowrap;
        word-spacing: normal;
        padding-top: 10px;
    }
}
.extras {
    @include fonts;
    text-align: center;
    font-size: 3.5rem;
    padding-top: pxtorem(50);
    font-weight: bold;
    word-spacing: 1px;
    letter-spacing: 1px;
    padding-bottom: 50px;
}
.pictures {
    .newarrivalsimg {
        display: grid;
        grid-template-columns: 230px 230px 230px 230px;
        gap: 20px;
        margin-left: pxtorem(20);
    }
    .topsellingimg {
        @extend .newarrivalsimg;
    }
    img {
        width: pxtorem(200);
        margin-left: pxtorem(170);
        border-radius: 1.25rem;
        -webkit-border-radius: 0.75rem;
        -moz-border-radius: 0.75rem;
        -ms-border-radius: 0.75rem;
        -o-border-radius: 0.75rem;
        height: pxtorem(250);
    }
    figcaption {
        p.fa {
            font-size: pxtorem(12);
        }
        s {
            margin-left: 1rem;
        }
        p.p_price {
            font-size: pxtorem(18);
            font-weight: bold;
            label {
                font-size: pxtorem(10);
                background-color: #FF33331A;
                color: red;
                border-radius: 20px;
                border-style: groove;
                border: 1px solid #FF33331A;
                width: 40px;
                height: 13px;
                line-height: 11px;
                text-align: center;
                margin-left: 5px;
                font-family: "Mulish", serif;
            }
        }
        p.p_name {
            padding-top: 10px;
            font-size: 15px;
            font-weight: bold;
        }
        margin-left: pxtorem(170);
        font-family: var(--font-name);
        font-size: pxtorem(14);
        width: pxtorem(200);
        line-height: 4px;
    }
}
.tables {
    background-color: var(--bg-color);
}
section.viewall {
    button {
        margin-left: pxtorem(550);
        margin-bottom: pxtorem(20);
        border-color: $font-back;
        font-family: var(--font-name);
        font-size: pxtorem(12);
        text-align: center;
        width: pxtorem(200);
        border-style: groove;
        border-width: thin;
        border-radius: 50px;
    }
}
.small_section {
    margin-top: 50px;
    h1 {
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }
    .img1 {
        max-height: 300px;
        max-width: 400px;
    }
}
.checked {
    color: orange;
}
.d-flex {
    .form-control {
        margin-left: 400px;
        border-radius: 50px;
    }
}
.happy_customers {
    .header_part {
        display: grid;
        grid-template-columns: auto 100px;
        column-gap: 40px;
        h1 {
            font-size: 50px;
            margin-left: 40px;
            margin-top: 50px;
            font-weight: bold;
            @include ft-every("Raleway", 30px, $font-back , bold, capitalize); //mixin
        }
        .fas {
            margin-left: 00px;
            font-size: 10px;
            padding-left: 10px;
        }
    }
    .grid-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 30px;
        margin-right: 30px;
        border-color: #000;
        column-gap: 40px;
        margin-bottom: 40px;
    }
    .grid-1 {
        border: 1px solid #0000001A;
        border-radius: 31px;
        p.fa {
            margin-left: 10px;
            font-size: 10px;
            color: orange;
        }
    }
    p.customer_name {
        font-weight: bold;
        font-family: var(--font-name);
        margin-left: 10px;
    }
    p.customer_review {
        font-size: 13px;
        margin-top: 00px;
        margin-left: 7px;
        font-family: var(--font-name);
    }
    p.fa fa-star checked {
        height: 10px;
        width: 10px;
    }
}
.browse {
    display: grid;
    grid-template-columns: 400px 400px;
    width: fit-content;
    //    margin-left: 200px;
    height: fit-content;
    border-radius: 40px;
    background-color: #f2f0f1;
    padding-bottom: 50px;
    padding-top: 10px;
    .casual {
        border-radius: 20px;
        margin-left: 150px;
        position: relative;
        align-items: center;
        width: 200px;
        height: 100px;
        margin-bottom: 20px;
        overflow: hidden;
        figure.casual_img img {
            object-fit: cover;
            height: 100px;
            width: 350px;
            top: 500px;
            left: 100px;
        }
        section.casual_text {
            position: absolute;
            top: 10px;
            left: 20px;
            width: 114px;
            height: 49px;
            font-weight: bold;
            font-size: 20px;
            font-family: var(--font-name);
        }
    }
    .formal {
        border-radius: 20px;
        position: relative;
        align-items: center;
        width: 400px;
        height: 100px;
        overflow: hidden;
        margin-left: 0px;
        figure.formal_img img {
            object-fit: cover;
            height: 100px;
            width: 700px;
            top: 500px;
            left: 100px;
        }
        section.formal_text {
            position: absolute;
            top: 10px;
            left: 20px;
            width: 114px;
            height: 49px;
            font-weight: bold;
            font-size: 20px;
            font-family: var(--font-name);
        }
    }
    .party {
        border-radius: 20px;
        position: relative;
        align-items: center;
        width: 400px;
        height: 100px;
        overflow: hidden;
        margin-left: 140px;
        figure.party_img img {
            object-fit: cover;
            height: 100px;
            width: 700px;
            top: 500px;
            left: 100px;
        }
        section.party_text {
            position: absolute;
            top: 10px;
            left: 20px;
            width: 114px;
            height: 49px;
            font-weight: bold;
            font-size: 20px;
            font-family: var(--font-name);
        }
    }
    .gym {
        border-radius: 20px;
        //margin-left: 150px;    
        position: relative;
        align-items: center;
        width: 250px;
        height: 100px;
        overflow: hidden;
        margin-left: 170px;
        figure.gym_img img {
            object-fit: cover;
            height: 100px;
            width: 350px;
            top: 500px;
            left: 100px;
        }
        section.gym_text {
            position: absolute;
            top: 10px;
            left: 20px;
            width: 114px;
            height: 49px;
            font-weight: bold;
            font-size: 20px;
            font-family: var(--font-name);
        }
    }
}
.browsebystyle {
    margin-top: pxtorem(20);
    background-color: var(--bg-color);
    width: 60rem;
    margin-left: 12rem;
    border-radius: pxtorem(20);
    p {
        background-color: var(--bg-color);
        @include ft-every("Raleway", 30px, $font-back , bold, capitalize); //mixin
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
        width: 60rem;
        margin-left: 00px;
        border-radius: 40px;
    }
}
// Cart CSS
.cart_info {
    width: auto;
    p.chead {
        font-family: "Mulish", serif;
        margin-left: 120px;
    }
    h1 {
        font-family: "Raleway", serif;
        margin-left: 120px;
    }
    .main_cart_info {
        display: grid;
        grid-template-columns: 750px 400px;
        gap: 15px;
        margin-left: 50px;
    }
    .cart_products {
        padding: 20px 20px;
        border-radius: 10px;
        border-color: #0000001A;
        border-style: groove;
        border-width: 1px;
        margin-top: 30px;
        margin-left: 3rem;
        font-family: "Mulish", serif;
        height: fit-content;
        i.fa-solid {
            padding-left: 420px;
            color: red;
        }
        img {
            height: 124px;
            width: 120px;
            border-radius: 10px;
        }
        figure {
            display: grid;
            grid-template-columns: 130px 200px;
            width: 700px;
        }
        figcaption {
            padding-top: 10px;
            font-size: 13px;
            line-height: 12px;
            p.pname {
                font-weight: bold;
                font-size: 15px;
            }
            p.price {
                font-weight: bold;
                font-size: 18px;
            }
        }
    }
    .order_summary {
        height: fit-content;
        padding: 20px 20px;
        margin-top: 30px;
        border-radius: 10px;
        border-color: #0000001A;
        border-style: groove;
        border-width: 1px;
        width: 400px;
        align-items: stretch;
        p.order_head {
            font-weight: bold;
            font-family: "Mulish", serif;
            font-size: 20px;
        }
        p.subtotal {
            font-size: 18px;
            font-family: "Mulish", serif;
            color: #00000099;
        }
        p.total {
            padding-top: 20px;
            font-size: 20px;
            font-family: "Mulish", serif;
            em.total {
                font-style: normal;
                font-weight: bold;
                margin-left: 140px;
            }
        }
        p.order_sub {
            em.subtotal {
                font-style: normal;
                margin-left: 130px;
            }
            em.discount {
                font-style: normal;
                color: red;
                margin-left: 75px;
            }
            em.delivery {
                font-style: normal;
                margin-left: 110px;
            }
        }
        p.buttons {
            input {
                height: 40px;
                width: 270px;
                border-radius: 20px;
                border-style: groove;
                border-color: #F0F0F0;
                background-color: #F0F0F0;
            }
            i.fa-solid {
                position: absolute;
                margin-top: 13px;
                margin-left: 30px;
                font-size: 18px;
            }
            ::placeholder {
                text-align: center;
                margin-left: 20px;
            }
            button.apply {
                border-radius: 20px;
                width: 22%;
                height: 40px;
                border-style: groove;
                border-width: thin;
                text-align: center;
                border-color: #00000099;
                background-color: black;
                color: white;
            }
        }
        p.checkout {
            button.checkout {
                width: 350px;
                height: 40px;
                border-radius: 20px;
                border-style: groove;
                border-width: thin;
                text-align: center;
                border-color: #00000099;
                background-color: black;
                color: white;
            }
        }
    }
}
.small_section {
    margin-top: 50px;
    h1 {
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }
    .img1 {
        max-height: 300px;
        max-width: 400px;
    }
}
// Product CSS
// Clothes description and images section
.clothes {
    margin-top: 20px;
    height: 600px;
    p.hsmt {
        padding-left: 130px;
        font-family: "Mulish", serif;
    }
    .clothes_info {
        display: grid;
        grid-template-columns: 170px 430px 550px;
        margin-left: 100px;
        margin-right: 100px;
        white-space: none;
        .image_details {
            height: 600px;
            p.fa {
                color: orange;
                em {
                    color: black;
                    font-style: normal;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
            p.shirt_title {
                font-size: 40px;
                font-weight: bold;
                font-family: "Raleway", serif;
                text-transform: uppercase;
            }
            p.price_shirt {
                font-size: 30px;
                font-weight: bold;
                s {
                    color: #c2baba;
                }
                label {
                    font-size: 15px;
                    background-color: #FF33331A;
                    color: red;
                    border-radius: 20px;
                    border-style: groove;
                    border-top: white;
                    border-width: 1px;
                    width: 50px;
                    height: fit-content;
                    text-align: center;
                }
            }
            p.subhead_shirt {
                font-size: 15px;
                font-family: "Mulish", serif;
                color: #00000099;
            }
            .colors {
                display: flex;
                gap: 10px;
                padding-bottom: 10px;
                .olive {
                    width: 30px;
                    height: 30px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #4F4631;
                }
                .green {
                    width: 30px;
                    height: 30px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #314F4A;
                }
                .blue {
                    width: 30px;
                    height: 30px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #31344F
                }
            }
        }
        button.sizes {
            width: 100px;
            border-radius: 20px;
            border-style: groove;
            border-width: thin;
            height: 35px;
            background-color: #F0F0F0;
            color: #00000099;
            border-color: #F0F0F0;
            text-align: center;
        }
        .addmore_cart {
            padding-top: 0%;
            display: flex;
            gap: 10px;
            button.addmore {
                width: 100px;
                border-radius: 20px;
                border-style: groove;
                border-width: thin;
                height: 40px;
                background-color: #F0F0F0;
                color: #00000099;
                border-color: #F0F0F0;
                text-align: center;
                text-wrap: nowrap;
            }
            button.cart {
                padding-right: 40px;
                width: 700px;
                border-radius: 20px;
                border-style: groove;
                border-width: thin;
                height: 40px;
                background-color: black;
                color: white;
                border-color: #F0F0F0;
            }
        }
    }
    .smaller_image {
        figure.tshirt_img img {
            object-fit: cover;
            border-radius: 20px;
            width: 140px;
            height: 165px;
        }
    }
    .bigger_image {
        figure.big_tshirt img {
            width: 350px;
            height: 530px;
            border-radius: 10px;
        }
    }
}
.product_ratings_faq {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    align-items: center;
    button.more {
        margin-top: 20px;
        margin-left: 40%;
        border-radius: 50px;
        font-size: 16px;
        border-style: groove;
        border-width: thin;
        text-align: center;
        color: black;
        background-color: white;
        width: 250px;
        height: 40px;
    }
    .heading_tabs {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        p {
            font-family: "Mulish", serif;
            font-size: 18px;
            color: #00000099;
            line-height: normal;
        }
    }
    .sub_heading {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        grid-template-columns: auto auto auto auto auto;
        margin-left: 120px;
        i.fa-solid {
            border-radius: 400px;
            font-size: 18px;
            rotate: 90deg;
            width: 40px;
            height: 40px;
            margin-left: 140px;
            background-color: #F0F0F0;
            text-align: center;
            align-content: center;
            border-color: #31344F;
            //border-style: groove;
        }
        button.btn {
            border-style: groove;
            // border-width: 10px;
            width: 100px;
            background-color: #F0F0F0;
            border-radius: 50px;
            height: 50px;
        }
        button.review_btn {
            border-radius: 50px;
            background-color: black;
            color: white;
            border-style: groove;
            text-align: center;
            width: 150px;
            border: #000;
            height: 50px;
        }
        .sub_heading_small {
            p.review_heading {
                font-size: 20px;
                font-weight: bold;
                em {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                }
            }
        }
    }
    .reviews {
        display: grid;
        grid-template-columns: 570px 570px;
        margin-right: 100px;
        margin-top: 20px;
        margin-left: 25px;
        gap: 50px;
        p.customer_name {
            padding-left: 14px;
            font-size: 20px;
            font-family: "Mulish", serif;
            font-weight: bold;
        }
        p.customer_review {
            padding-left: 14px;
            font-size: 15px;
            font-family: "Mulish", serif;
            line-height: 25px;
        }
        p.dateofreview {
            padding-left: 14px;
            font-size: 15px;
            font-family: "Mulish", serif;
        }
        p.fa {
            padding-left: 10px;
            font-size: 10px;
            color: orange;
        }
        .grid-1 {
            border: 1px solid #c2baba;
            border-radius: 31px;
        }
        .grid-2 {
            border: 1px solid #c2baba;
            border-radius: 31px;
        }
        .grid-3 {
            margin-left: 00px;
            margin-top: 00px;
            border-radius: 31px;
            border: 1px solid #c2baba;
        }
    }
}
.youmightlike {
    margin-left: 70px;
    p.heading {
        margin-top: 50px;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        font-family: "Raleway", serif;
        text-align: center;
    }
    .moreclothesimages {
        padding-top: 20px;
        margin-left: 30px;
        img {
            width: 220px;
            margin-left: 100px;
            border-radius: 1.25rem;
            -webkit-border-radius: 0.75rem;
            -moz-border-radius: 0.75rem;
            -ms-border-radius: 0.75rem;
            -o-border-radius: 0.75rem;
            display: flex;
            height: 250px;
            grid-template-columns: 100px 100px 100px 100px;
            justify-content: space-evenly;
        }
        figure {
            display: inline-block;
            grid-template-columns: 100px 100px 100px 100px;
            width: 230px;
        }
        figcaption {
            margin-left: 100px;
            font-weight: bold;
            font-size: 15px;
            text-align: left;
            width: 230px;
            font-family: "Mulish", serif;
            p.fa {
                color: orange;
            }
        }
    }
}
.small_section {
    margin-top: 50px;
    h1 {
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }
    .img1 {
        max-height: 300px;
        max-width: 400px;
    }
}
// Category CSS
.categories {
    margin-left: 5px;
    padding-right: 10rem;
    .heading_direction {
        display: inline-flex;
        margin-top: 10px;
        .category_head {
            margin-left: 120px;
            font-size: 13px;
            font-family: "Mulish", serif;
            color: #00000099;
        }
        .category_head_next {
            font-size: 13px;
            // padding-top: 10px;
            color: black;
            font-family: "Mulish", serif;
            margin-left: 5px;
        }
    }
    .maincontent {
        margin-left: 120px;
        display: flex;
        .filters {
            width: 200px;
            border-radius: 20px;
            border-color: #0000001A;
            border-style: groove;
            border-width: 1px;
            text-align: center;
            height: 1030px;
            p.section_heading_first {
                font-weight: bold;
                padding-top: 20px;
                display: flex;
                text-align: left;
                justify-content: space-between;
                padding-left: 5px;
                font-family: "Mulish", serif;
                i.fa-solid {
                    padding-right: 5px;
                    padding-left: 4px;
                    rotate: 90deg;
                    font-size: 15px;
                    padding-top: 10px;
                }
            }
            p.section_heading {
                font-weight: bold;
                padding-top: 0px;
                display: flex;
                text-align: left;
                justify-content: space-between;
                padding-left: 5px;
                font-family: "Mulish", serif;
                i.fa-solid {
                    padding-right: 5px;
                    padding-left: 4px;
                    rotate: 90deg;
                    font-size: 15px;
                    padding-top: 10px;
                }
            }
            p.sub_heading_section {
                text-align: left;
                padding-left: 5px;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                font-family: "Mulish", serif;
                color: #00000099;
                i.fa-solid {
                    font-size: 15px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: #00000099;
                }
            }
            input.min {
                background-color: black;
            }
            input.max {
                background-color: black;
            }
            .colors {
                display: grid;
                gap: 5px;
                grid-template-columns: 25px 25px 25px 25px 25px;
                padding-bottom: 15px;
                padding-left: 5px;
                padding-right: 5px;
                justify-content: space-evenly;
                .green_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #00C12B;
                }
                .red_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #F50606;
                }
                .yellow_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #F5DD06;
                }
                .orange_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #F57906;
                }
                .lightblue_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #06CAF5;
                }
                .purple_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #7D06F5;
                }
                .pink_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #F506A4;
                }
                .white_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #FFFFFF;
                    border: 1px solid #00000033;
                }
                .black_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #000000;
                }
                .blue_color {
                    width: 25px;
                    height: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    border-radius: 25px;
                    background: #063AF5;
                }
            }
            .sizes_filter {
                display: grid;
                grid-template-columns: auto auto;
                gap: 5px;
                padding-left: 2px;
                padding-bottom: 5px;
                button.sizes {
                    font-size: 13px;
                    border-radius: 20px;
                    border-style: groove;
                    font-family: "Mulish", serif;
                    width: 90px;
                    height: 33px;
                    background-color: #F0F0F0;
                    border: 1px solid #F0F0F0;
                    color: #00000099;
                }
            }
            button.btn_apply {
                width: 180px;
                height: 40px;
                color: white;
                border-radius: 20px;
                border-style: groove;
                background-color: #000000;
                border: 1px solid black;
                font-size: 15px;
                font-family: "Mulish", serif;
                letter-spacing: 1px;
            }
        }
        .diff_clothes {
            margin-left: 100px;
            .toptext {
                display: flex;
                justify-content: stretch;
                align-content: space-evenly;
                font-family: "Mulish", serif;
                p.pro_head {
                    font-weight: bold;
                    font-size: 20px;
                }
                p.showing {
                    font-size: 12px;
                    color: #00000099;
                    margin-left: 50%;
                }
                p.sort {
                    font-size: 12px;
                    margin-left: 30px;
                    color: #00000099;
                }
                p.mp {
                    font-size: 12px;
                    color: #000000;
                    margin-left: 5px;
                    i.fa-solid {
                        padding-left: 1px;
                        font-size: 10px;
                    }
                }
            }
            .products {
                display: grid;
                grid-template-columns: auto auto auto;
                column-gap: 10px;
                margin-left: 0px;
                img {
                    width: 250px;
                    height: 300px;
                    border-radius: 20px;
                }
                .products_images {
                    figure {
                        display: flex;
                    }
                    figcaption {
                        line-height: 1px;
                        label {
                            font-size: 13px;
                            background-color: #FF33331A;
                            color: red;
                            border-radius: 20px;
                            border: 1px solid #FF33331A;
                            border-style: groove;
                            border-width: 1px;
                            width: 50px;
                            height: 17px;
                            text-align: center;
                            padding-left: 3px;
                            margin-left: 8px;
                            line-height: 13px;
                        }
                        s {
                            color: #00000099;
                            padding-left: 10px;
                            font-size: 19px;
                        }
                        em {
                            font-style: normal;
                            color: #00000099;
                            font-size: 10px;
                            padding-left: 5px;
                        }
                        p.p_name {
                            padding-top: 20px;
                            font-size: 16px;
                            font-weight: bold;
                            font-family: "Mulish", serif;
                            letter-spacing: 1px;
                            word-spacing: 2px;
                        }
                        p.fa {
                            color: #FFC633;
                            font-size: 12px;
                        }
                        p.p_price {
                            font-weight: bold;
                            font-family: "Mulish", serif;
                            font-size: 19px;
                        }
                    }
                }
            }
            .pages {
                display: flex;
                align-content: space-evenly;
                justify-content: space-evenly;
                button.previous {
                    width: 100px;
                    margin-right: 200px;
                    border-radius: 10px;
                    border: 1px solid #0000001A;
                    background-color: white;
                }
                button.next {
                    width: 100px;
                    margin-left: 200px;
                    border-radius: 10px;
                    border: 1px solid #0000001A;
                    background-color: white;
                }
                button.page_number {
                    text-align: center;
                    border-radius: 5px;
                    border: 1px solid #0000001A;
                    background-color: white;
                    justify-content: space-between;
                    margin-left: 10px;
                    color: #00000099;
                }
            }
        }
    }
}
.small_section {
    margin-top: 50px;
    h1 {
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
    }
    .img1 {
        max-height: 300px;
        max-width: 400px;
    }
}
// Media Queries 
@media (max-width : 600px) {
 // Cart done
 // Main Page done
 // Category done
 // Main Page 
    .main-part {
        width: 100%;
        background-color: #f2f0f1;
        max-width: 100%;
        height: 630px;
        display: grid;
        grid-template-columns: 100px 500px;
        img {
            padding-top: 20px;
            height: 500px;
            width: 200px;
        }
        p.first_line {
            font-size: 1.6rem;
            width: 100%;
            line-height: 2rem;
            padding-left: 10px;
        }
        p.second_line {
            font-size: 0.9rem;
            display: flexbox;
            line-height: 2;
            padding-left: 10px;
            width: 200px;
        }
        button.btn {
            margin-left: 10px;
            width: 100px;
            font-size: 0.8rem;
        }
    }
    .grid-container1 {
        width: 100%;
        height: 100%;
        display: flex;
        margin-bottom: 1rem;
        row-gap: 20px;
        column-gap: 20px;
        margin-left: 10px;
        width: 50px;
        p.strong_cases {
            font-size: 15px;
        }
        p.sub_cases {
            font-size: 10px;
        }
    }
    #brandings {
        background-color: black;
        display: flex;
        margin-top: 0px;
        td {
            column-gap: 0.2px;
            padding-left: 0rem;
            word-spacing: 1px;
            font-size: 12px;
        }
    }
    .pictures {
        width: 100%;
        .newarrivalsimg {
            display: block;
        }
        .topsellingimg {
            @extend .newarrivalsimg;
        }
        img {
            width: 10rem;
            height: 13rem;
            margin-left: 1rem;
        }
        figcaption {
            margin-left: 1rem;
            margin-bottom: 3rem;
            display: block;
            p.fa {
                font-size: 0.9rem;
            }
            s {
                margin-left: 0.5rem;
            }
        }
    }
    .viewall {
        .btn {
            margin-left: 1rem;
        }
        button {
            width: 100%;
        }
    }
    .extras {
        @include fonts;
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 30px;
        margin-left: 4rem;
        text-align: justify;
    }
    td {
        width: 100%;
    }
    #information {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    #brandings {
        width: 100%;
    }
    .small_section {
        width: 100%;
    }
    .happy_customers {
        .header_part {
            h1 {
                width: 100%;
                line-height: 50px;
                font-size: 2rem;
            }
            width: 100%;
        }
        .grid-1 {
            p.fa {
                font-size: 6px;
            }
        }
    }
    .browse {
        display: grid;
        grid-template-columns: 150px 150px;
        width: 450px;
        column-gap: 50px;
        margin-left: 50px;
        .casual {
            margin-left: 20px;
            width: 150px;
            figure.casual_img img {
                width: 200px;
                object-fit: cover;
                left: 50px;
            }
        }
        .formal {
            margin-left: 10px;
            width: 150px;
            float: left;
            figure.formal_img img {
                width: 480px;
                object-fit: cover;
                left: 10px;
            }
        }
        .party {
            margin-left: 20px;
            width: 150px;
            figure.party_img img {
                width: 320px;
                object-fit: cover;
                left: 10px;
            }
        }
        .gym {
            margin-left: 10px;
            width: 150px;
            float: left;
            figure.gym_img img {
                width: 300px;
                object-fit: cover;
                left: 10px;
            }
        }
    }
    .browsebystyle {
        margin-left: 1rem;
        width: 500px;
        p {
            font-size: 30px;
            margin-left: 50px;
            text-align: left;
            width: 400px;
        }
    }
    .uptodate {
        margin-left: 1px;
        max-width: 70%;
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
            .grdate_1 {
                font-size: 10px;
                line-height: 15px;
                height: 120px;
                margin-left: 35px;
            }
            .grdate_2 {
                margin-top: 5px;
                .box {
                    input.form-control {
                        width: 200px;
                    }
                    input::placeholder {
                        font-size: 10px;
                    }
                    button {
                        width: 200px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .navbar {
        .container-fluid {
            width: 100%;
            display: flex;
        }
    }
    .footer_grid {
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            margin-left: 5px;
            column-gap: 1px;
        }
        p#first_column {
            font-size: 20px;
        }
        #first_column_subheading {
            font-size: 10px;
            line-height: 10px;
        }
        p {
            strong {
                margin-left: 35px;
            }
        }
        .subs {
            margin-left: 35px;
            font-size: 10px;
        }
    }
    footer {
        background-color: #f2f0f1;
        font-size: 10px;
        margin-left: 2px;
        padding-left: 2px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        p.trademarks {
            margin-left: 12px;
            padding-top: 10px;
        }
        p.brands {
            margin-left: 30px;
            i.fa-brands {
                font-size: 15px;
                padding-top: 0px;
            }
        }
    }
    .cart_info {
        p.chead {
            margin-left: 55px;
        }
        h1 {
            font-size: 30px;
            margin-left: 50px;
        }
        .main_cart_info {
            display: block;
            grid-template-columns: 300px 400px;
            margin-left: 0px;
        }
        .cart_products {
            width: 450px;
            i.fa-solid {
                padding-left: 20px;
                width: 5px;
            }
        }
        .order_summary {
            margin-left: 3rem;
            width: 350px;
            p.order_head {
                font-size: 18px;
            }
            p.subtotal {
                font-size: 15px;
            }
            p.total {
                font-size: 18px;
            }
            p.buttons{
                input {
                    width: 200px;
                }
                i.fa-solid {
                    margin-left: 10px;
                }
                ::placeholder {
                    text-align: center;
                    margin-left: 15px;
                }
            }
            p.checkout {
                button.checkout{width: 280px;
                }
            }
        }
    }
    // Category part 
.categories {
    margin-left: 2px;
    .heading_direction {
        .category_head {
            margin-left: 20px;
            font-size: 11px
        }
        .category_head_next {
            font-size: 11px;
        }
    }
    .maincontent {
        margin-left: 15px;
        .filters {
            width: 130px;
            height: fit-content;
            .colors {
                display: grid;
                grid-template-columns: 20px 20px;
            }
            .sizes_filter {
                display: grid;
                grid-template-columns: 20px;
                padding-left: 10px;
            }
            button.btn_apply {
                width: 110px;
                font-size: 10px;
                margin-bottom: 5px;
            }
            input.min {
                width: 100px;
            }
            p.section_heading {
                font-size: 14px;
            }
            p.section_heading_first {
                font-size: 14px;
            }
        }
        .diff_clothes {
            margin-left: 30px;
            .toptext {
                display: flex;
                justify-content: start;
                align-content: flex-start;
                p.pro_head {
                    font-size: 15px;
                    padding-top: 90px;
                    padding-bottom: 10px;
                }
                p.showing {
                    margin-left: 0.5px;
                    float: left;
                    position: absolute;
                }
                p.mp {
                    position: absolute;
                    padding-top: 40px;
                    margin-left: 80px;
                }
                p.sort {
                    position: absolute;
                    padding-top: 40px;
                }
            }
            .products {
                display: block;
                img {
                    width: 180px;
                    height: 200px;
                }
                .products_images {
                    figure {
                        display: flex;
                    }
                    figcaption {
                        padding-bottom: 10px;
                        p.p_name {
                            font-size: 14px;
                        }
                        p.p_price {
                            font-size: 15px;
                        }
                        p.fa {
                            font-size: 11px;
                        }
                        s {
                            font-size: 10px;
                        }
                        label {
                            font-size: 10px;
                        }
                    }
                }
            }
            .pages {
                display: flex;
                justify-content: start;
                align-content: left;
                button.previous {
                    width: 80px;
                    font-size: 14px;
                    margin-right: 10px;
                }
                button.next {
                    width: 80px;
                    font-size: 14px;
                    margin-left: 10px;
                }
                button.page_number {
                    text-align: center;
                    margin-left: 2px;
                    font-size: 14px;
                    width: 18px;
                }
            }
        }
    }
}

// Product CSS 

.clothes {
    height: max-content;
    p.hsmt {
        padding-left: 20px;
    }

    .clothes_info {
        display: grid;
        grid-template-columns: 130px 200px ;
        
            margin-left: 20px;
            display: grid;
            
            .smaller_image {
                figure.tshirt_img img {
                    object-fit: cover;
                    border-radius: 20px;
                    width: 120px;
                    height: 150px;
                }
            }
            .bigger_image {
                figure.big_tshirt img {
                    width: 300px;
                    height: 485px;
                    border-radius: 10px;
                }
            }
            .image_details {
                width: 400px;
                p.fa {
                    padding-top: 1px;
                    font-size: 10px; 
                    em {
                       font-size: 10px; 
                    }
                }
                p.shirt_title {
                    margin-top: 40px;
                    font-size: 30px;
                }
                p.price_shirt {
                    font-size: 20px;

                    label {
                        font-size: 10px;
                    }
                }
                p.subhead_shirt {
                    font-size: 13px;
                }
               .colors {
                .olive {
                    width: 24px;
                    height: 24px;
                }
                .green {
                    width: 24px;
                    height: 24px;
                }
                .blue {
                    width: 24px;
                    height: 24px;
                }
               }
            }
            button.sizes {
                width: 20%;
                font-size: 10px;

            }
            .addmore_cart {
                button.addmore {
                    width: 50%;
                    font-size: 12px;
                }
                button.cart {
                    font-size: 10px;
                    text-align: center;
                }
            }
        

    }
   
}
.product_ratings_faq {
    .heading_tabs {
        p {
            font-size: 15px;

        }
    }
    .sub_heading {
        margin-left: 10px;
        display: grid;
        grid-template-columns: 20px 280px ;
        column-gap: 1px;
        
        i.fa-solid {
            margin-left: 0px;
            font-size: 15px;
        }
        button.btn {
            width: 30%;
        }
        button.review_btn {
            
            width: 50%;
            font-size: 14px;
        }
        .sub_heading_small  {
            p.review_heading {
                font-size: 15px;
            }
        }
    }
    .reviews {
        display: grid;
        grid-template-columns: 300px;
       gap: 10px;

       p.customer_name {
        font-size: 17px;
       }
       p.customer_review {
        font-size: 13px;
       }
       p.dateofreview{
        font-size: 14px;
       }
    }
    button.more {
        margin-left: 20%;
        font-size: 12px;
        width: 50%;
    }
}
.youmightlike {
    margin-left: 20px;
    p.heading {
        font-size: 20px;
    }

    .moreclothesimages {
        margin-left: 5px;

        img {
            margin-left: 5px;
            width: 200px;
        }
        figure {
            margin-left: 5px;
        }
        figcaption {
            margin-left: 5px;
            width: 200px;
            font-size: 14px;
        }

    }
   
}
}
// @media (min-width : 601px) {
//     .main-part {
//        width: 100%; 
//     }
// }